---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";

import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import EmailIcon from "../icons/Email.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";

import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio Gino Lencina - Programador y Desarrollador Web"
  description="Portfolio de Gino Lencina, programador y desarrollador web. Aquí encontrarás mis proyectos, habilidades y formas de contacto."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12"
        src="https://avatars.githubusercontent.com/u/84538965?u=26fdb8c39c7989454f697328d4712c4f8b0d484e&v=4"
        alt="gino-photo"
      />

      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Welcome to My Portfolio <a
          href="https://www.linkedin.com/in/ginolencina/"
          target="_black"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        Lorem ipsum dolor sit
      </h2>

      <span class="text-yellow-200/90">
        amet consectetur adipisicing elit.</span
      >
      <span class="text-red-200/90">
        Itaque autem modi veniam ea! Velit odit vitae,</span
      > similique illo necessitatibus blanditiis atque ratione quisquam magnam hic,
      <span class="opacity-85">sed, commodi vel dignissimos possimus?</span>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/ginolencina/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/GinoL221">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="#">
          <EmailIcon class="size-4 md:size-6" />
          ginolencina@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Sobre Mí
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
