---
import Layout from "../layouts/Layout.astro";

import SectionContainer from "@/components/SectionContainer.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import AboutMe from "@/components/AboutMe.astro";

import ProfileCheck from "@/icons/ProfileCheckIcon.astro";
import BriefcaseIcon from "@/icons/BriefcaseIcon.astro";
import CodeIcon from "@/icons/CodeIcon.astro";
---

<Layout
  title="Portfolio Gino Lencina - Programador y Desarrollador Web"
  description="Portfolio de Gino Lencina, programador y desarrollador web. Aquí encontrarás mis proyectos, habilidades y formas de contacto."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <!--
    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
      </h2>
        Experiencia Laboral
      <Experience />
    </SectionContainer>
    -->

    <SectionContainer id="projects" class="pb-16 md:pb-36">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
