---
import Layout from "../layouts/Layout.astro";

import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";

import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import TitleSection from "../components/TitleSection.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Portfolio Gino Lencina - Programador y Desarrollador Web"
  description="Portfolio de Gino Lencina, programador y desarrollador web. Aquí encontrarás mis proyectos, habilidades y formas de contacto."
>
  <main class="px-4">
    <SectionContainer id="contact" class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>

  <!--
  <div class="space-y-24">
    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
  -->

  <SectionContainer id="projects" class="py-10 md:py-26">
    <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
      <CodeIcon class="size-7" />
      Proyectos
    </h2>
    <Projects />
  </SectionContainer>

  <SectionContainer id="about" class="py-10 md:py-26">
    <TitleSection>
      <ProfileCheck class="size-7" />
      Sobre mí
    </TitleSection>
    <AboutMe />
  </SectionContainer>
</Layout>
