---
import Layout from "@/layouts/Layout.astro";

import SectionContainer from "@/components/SectionContainer.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import AboutMe from "@/components/AboutMe.astro";
import Education from "@/components/Education.astro";
import Skills from "@/components/Skills.astro";

import ProfileCheck from "@/icons/ProfileCheckIcon.astro";
import BriefcaseIcon from "@/icons/BriefcaseIcon.astro";
import CodeIcon from "@/icons/CodeIcon.astro";
import AwardIcon from "@/icons/AwardIcon.astro";
import GraduationCapIcon from "@/icons/GraduationCapIcon.astro";
import ChipIcon from "@/icons/ChipIcon.astro";

import Certifications from "@/components/Certifications.astro";
---

<Layout
  title="Gino Lencina | Full Stack Developer - Java, Spring Boot & React"
  description="Portfolio profesional de Gino Lencina, Desarrollador Web Full Stack. Especialista en Java, Spring Boot y React con enfoque en aplicaciones escalables y alto rendimiento."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <SectionContainer id="experiencia" class="py-12 md:py-16">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="educacion" class="py-12 md:py-16">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <GraduationCapIcon class="size-7" />
        Educación
      </h2>
      <Education />
    </SectionContainer>

    <SectionContainer id="habilidades" class="py-12 md:py-16">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <ChipIcon class="size-7" />
        Habilidades
      </h2>
      <Skills />
    </SectionContainer>

    <SectionContainer id="certificaciones" class="py-12 md:py-16">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <AwardIcon class="size-7" />
        Certificaciones
      </h2>
      <Certifications />
    </SectionContainer>

    <SectionContainer id="proyectos" class="py-12 md:py-16 pb-16 md:pb-36">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="py-12 md:py-16">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
