---
const personalImageAlt = "Gino Lencina";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Gino Lencina y soy <strong
        >desarrollador web full stack junior</strong
      > con formación intensiva en programación, diseño y metodologías ágiles.
    </p>

    <p>
      He desarrollado <strong
        >proyectos académicos sólidos con tecnologías como Java, Spring Boot,
        React y Node.js</strong
      >. Entre ellos se destacan una app de reservas de alojamientos, un sistema
      de gestión para clínicas y un sitio de ecommerce básico.
    </p>

    <p>
      Mi objetivo es seguir creciendo en el mundo del desarrollo, <strong
        >aportando soluciones reales, aprendiendo de cada experiencia y
        trabajando en equipo</strong
      >. Me entusiasma especialmente el backend con Java y la integración de
      APIs REST.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="https://avatars.githubusercontent.com/u/84538965?u=26fdb8c39c7989454f697328d4712c4f8b0d484e&v=4"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
