<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy <strong>Gino Lencina</strong>, Desarrollador Web Full Stack orientado
      a la construcción de aplicaciones modernas y escalables. Me formé en
      <strong>Universidad de General Sarmiento</strong>, <strong
        >Digital House</strong
      > y en el programa <strong>Certified Tech Developer</strong>, donde
      trabajé con tecnologías como Java, Spring Boot, React, Node.js y MySQL.
    </p>

    <p>
      He desarrollado proyectos que abarcan desde <strong
        >plataformas de ecommerce</strong
      >
      (Mundo 3D), <strong>gestión de clínicas</strong> (Clínica Dental MVC) hasta
      sitios web enfocados en <strong>experiencias visuales</strong> (Mercado Liebre
      y clon de Spotify). Estos proyectos me permitieron poner en práctica arquitecturas
      como MVC, REST APIs y el uso de JWT para autenticación.
    </p>

    <p>
      Me interesa seguir creciendo en entornos colaborativos, aplicando
      metodologías ágiles como <strong>Scrum</strong> y aportando soluciones que
      mejoren la experiencia del usuario final. Mi objetivo es seguir especializándome
      como Full Stack Developer y aportar valor en equipos dinámicos.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/img/me.jpeg"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
