---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCE = [{
    date:"none",
    experience:"Lorem ipsum",
    description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque autem modi veniam ea! Velit odit vitae, similique illo necessitatibus blanditiis atque ratione quisquam magnam hic, sed, commodi vel dignissimos possimus?",
    link:"experince-link",
}];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
